/* GERAL */
/* Appresenta-se por ordem de apparecimento */

body {
    background-color: #F0EEB5;

}

div {
    display: block;
    margin: auto;
    width: 35%;
    border: 25px black;
}

h2 {
    font-size: 30px;
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
    text-justify: auto;
}

h3 {
    font-size: 25px;
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: italic;
    text-justify: auto;
}

h4 {
    font-size: 15px;
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
    text-justify: auto;
}

p {
    font-size: 25px;
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-justify: auto;
}

.nav {
    list-style-type: none;
    display: inline;
    padding: 30px;
    color: black;
}

/* Ainda não está a funcionar

a .nav:hover {
    color: #e76060;
}

a .nav:active {
    background-color: #BD2727;
}

*/

nav {
    text-align: center;
    padding-bottom: 200px;
}

@media only screen and (min-width: 400px) {

    #divlema {
        padding-top: 20px;
    }
    
    #logo {
        display: block;
        margin: auto;
        width: 100%;
    }

}

.livro {
    background-color:#a09f88;
    border-radius: 20px;
    padding: 30px;
}

.transferir {
    position: relative;
    left: 50%;
    font-size: 20px;
    font-family: "IM Fell English", serif;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    text-justify: auto;
    padding: 10px;
}