/* GERAL */
/* Appresenta-se por ordem de apparecimento */

body {
    background-color: #F0EEB5;
}

div {
    display: block;
    margin: auto;
    width: 35%;
}

p {
    font-size: 25px;
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-justify: auto;
}

.nav {
    list-style-type: none;
    display: inline;
    padding: 30px;
    color: black;
}

/* Ainda ão está a funcionar

a .nav:hover {
    color: #e76060;
}

a .nav:active {
    background-color: #BD2727;
}

*/

nav {
    text-align: center;
    padding-bottom: 50px;
}

@media only screen and (min-width: 400px) {

    .divisor {
        display: block;
        margin: auto;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
        
}

#lusiadas1 {
    font-size: 25px;
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

#lema {
    color: #BD2727;
    padding: 30px;
}

@media only screen and (min-width: 400px) {

    #divlema {
        padding-top: 20px;
    }
    
    #logo {
        display: block;
        margin: auto;
        width: 50%;
    }

}